Options -Indexes

# Redirect every request to index.php for it to be processed by Boilerplate
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
